@{
    ViewBag.Title = "Home Page";
}

<div class="home-photo img-responsive">
    <div class="container"></div>
    <div class="transbox"></div>
    <h1>Witaj, FoodTruck 'erze</h1>
    <h2 class="lead">Zgłoś swój wypasiony pojazd i dołącz do aplikacji FOODFIND.</h2>
    <div id="image-truck"></div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h3>FoodTruck Newsy</h3>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Get more libraries</h3>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Web Hosting</h3>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>

        </div>
    </div>
</div>


@*<div class="uk-background-fixed uk-background-center-center uk-height-medium uk-width-large" style="background-image: url(http://tinkitchen.com/media/tk-home.jpg);">*@
